@model RestaurantApp.Models.FoodType

@{
    ViewData["Title"] = "Edit";
}

<br />
<h2>Edit Food Type</h2>
<hr />

<form method="post">
    <div class="form-border">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <div class="form-group row">
            <div class="col-sm-2">
                <label asp-for="Name" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>


        <br />
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-sm btn-primary" />
            <a asp-action="Index" class="btn btn-sm btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}